doctype html

html
  head
    meta(charset='utf-8')
    title Практика акцента
    link(rel='stylesheet' href='index.css')
    script(src='words.js')
    script(src='index.js')
  body
    .container
      #word Начать
    
